div.row-fluid
	div.span12.tile
		div.notice
			h1 About Luke and Rachel
			p
				| We met as next-door neighbors in our freshman (or first-year, as UofC'ers would say) dorm, 
				a(href='http://en.wikipedia.org/wiki/Shoreland_Hotel') the Shoreland
				|.  We were friends for several months prior to realizing that we both like the cut of the other's jib, and "officially" became a couple on March 11, 2005.
			p
				| After finishing college, moving into separate apartments, and starting our respective jobs, Rachel nervously bought a condo and more nervously requested that Luke be her domestic partner, made official with a joint membership to Costco.  Three lovely years had passed, including Luke's 6 month stint as a Seattleite, when Luke pulled an engagement ring out of the coin pocket of his jeans and Rachel got misty eyed in our 
				a(href='http://theviolethour.com/') favorite cocktail lounge.  
				| Rachel had just started graduate school, though, so wedding planning would have to wait.

			div.background
div.row-fluid
	div.span6.tile
		div.notice
			h1 Facts about Rachel
			ul
				li Sleeps with her eyes open
				li| Cannot donate blood &mdash; may or may not be infected with bovine spongiform encephalitis (mad cow disease)
				li Prefers to wing it rather than follow recipes when cooking
				li Has a skin allergy to all but precious metals
				li Had 
					a(href='http://en.wikipedia.org/wiki/LASIK') LASIK 
					|but it didn't take, so she wears glasses once more
				li Is an Elite Yelper and loves it
			div.background
	div.span6.tile
		div.notice
			h1 Facts about Luke
			ul 
				li Cannot flare his nostrils or roll his tongue
				li Is an 
					a(href='http://www.scouting.org/About/FactSheets/EagleScouts.aspx') Eagle Scout
				li Is an ambidextrous ping pong player
				li Once enjoyed knitting
				li Rides a 
					a(href='http://en.wikipedia.org/wiki/Fixed-gear_bicycle') fixed-gear bike
				li Enjoys threatening Rachel with converting her bike to a fixed gear
			div(style='height: 18px;')
			div.background
	
