div.row-fluid.tile
	div.offset7.span5.tile
		div.notice
			h1 The Wedding
			p July 13, 2013
			p
				a(target='_blank', href='http://www.ivyroomchicago.com/') The Ivy Room
				&mdash;
				a(target='_blank', href='https://maps.google.com/maps?ie=UTF8&q=the+ivy+room&hq=the+ivy+room&hnear=Chicago,+Cook,+Illinois+60647&t=m&z=12&vpsrc=0&iwloc=A&cid=7246191877953678775') Map


div.row-fluid.tile
	div.offset7.span5.tile
		div.notice
			h1 Accommodations
			p
				|The Palomar Hotel 
				br()
				a(target='_blank', href='https://gc.synxis.com/rez.aspx?Hotel=26727&Chain=10179&arrive=7/12/2013&depart=7/14/2013&adult=1&child=0&group=18000701735') Huddleston/Sandberg Party Reservations
				br()
				|or call (877) 731-0505; specify Huddleston/Sandberg
				br()
				em
					|Book by June 11
					sup() th 
					|for discounted rate

div.row-fluid.tile
	div.offset7.span5.tile
		div.notice
			h1 The Registry
			p
				a(target='_blank', href='http://www.giftregistry360.com/wishlist/rachelandluke') www.giftregistry360.com
