div.row-fluid
  div.span12.tile
    div.notice
      h1 The Wedding
      script
        if (swfobject.hasFlashPlayerVersion("6.0.0")) {
          document.write('<embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="100%" height="600" flashvars="host=picasaweb.google.com&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111919209156526992992%2Falbumid%2F5907280141123497089%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCKKW9LDG2Onm5QE%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>');
        } else {
          document.write('<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_139.04/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/111919209156526992992/Wedding?authuser=0&authkey=Gv1sRgCKKW9LDG2Onm5QE&feat=embedwebsite"><img src="https://lh5.googleusercontent.com/-JotDXyD7lwk/Ufrf_YBirIE/AAAAAAAAGU8/EKSk-kdwiFY/s160-c/Wedding.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/111919209156526992992/Wedding?authuser=0&authkey=Gv1sRgCKKW9LDG2Onm5QE&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Wedding</a></td></tr></table>');
        }
        
div.row-fluid
  div.span12.tile
    div.notice
      h1 Honeymoon &mdash; Maldives
      script
        if (swfobject.hasFlashPlayerVersion("6.0.0")) {
          document.write('<embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="100%" height="600" flashvars="host=picasaweb.google.com&noautoplay=1&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111919209156526992992%2Falbumid%2F5907305808690699329%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCK3Ji9mgu-2f3wE%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>');
        } else {
          document.write('<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_139.04/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/111919209156526992992/HoneyMoonMaldives?authuser=0&authkey=Gv1sRgCK3Ji9mgu-2f3wE&feat=embedwebsite"><img src="https://lh3.googleusercontent.com/-z_IbJ8d2X8k/Ufr3VbKcXEE/AAAAAAAAGoI/u09hSqCaD5U/s160-c/HoneyMoonMaldives.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/111919209156526992992/HoneyMoonMaldives?authuser=0&authkey=Gv1sRgCK3Ji9mgu-2f3wE&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Honey Moon - Maldives</a></td></tr></table>');
        }
      div.background

div.row-fluid
  div.span12.tile
    div.notice
      h1 Honeymoon &mdash; Bangkok
      script
        if (swfobject.hasFlashPlayerVersion("6.0.0")) {
          document.write('<embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="100%" height="600" flashvars="host=picasaweb.google.com&noautoplay=1&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111919209156526992992%2Falbumid%2F5907314800449270721%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCNLn37u_0c6oRw%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>');
        } else {
          document.write('<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_139.04/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/111919209156526992992/HoneyMoonBangkok?authuser=0&authkey=Gv1sRgCNLn37u_0c6oRw&feat=embedwebsite"><img src="https://lh4.googleusercontent.com/-MSiIoblky0c/Ufr_g0Evs8E/AAAAAAAAGkw/qhoVGsVeQPk/s160-c/HoneyMoonBangkok.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/111919209156526992992/HoneyMoonBangkok?authuser=0&authkey=Gv1sRgCNLn37u_0c6oRw&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Honey Moon - Bangkok</a></td></tr></table>');
        }
      div.background

div.row-fluid
  div.span12.tile
    div.notice
      h1 Honeymoon &mdash; Chiang Mai
      script
        if (swfobject.hasFlashPlayerVersion("6.0.0")) {
          document.write('<embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="100%" height="600" flashvars="host=picasaweb.google.com&noautoplay=1&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111919209156526992992%2Falbumid%2F5907305975068585345%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCLLk_JOkrefltQE%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>');
        } else {
          document.write('<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_139.04/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/111919209156526992992/HoneyMoonChiangMai?authuser=0&authkey=Gv1sRgCLLk_JOkrefltQE&feat=embedwebsite"><img src="https://lh3.googleusercontent.com/-jiXWYe3UV7c/Ufr3fG-BbYE/AAAAAAAAGos/qKJS-H1r9sI/s160-c/HoneyMoonChiangMai.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/111919209156526992992/HoneyMoonChiangMai?authuser=0&authkey=Gv1sRgCLLk_JOkrefltQE&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Honey Moon - Chiang Mai</a></td></tr></table>');
        }
      div.background
  
