div.row-fluid
  div.span12.tile
    div.notice
      h1 The Wedding
      | <embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="100%" height="600" flashvars="host=picasaweb.google.com&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111919209156526992992%2Falbumid%2F5907280141123497089%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCKKW9LDG2Onm5QE%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        
div.row-fluid
  div.span12.tile
    div.notice
      h1 Honeymoon &mdash; Maldives
      | <embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="100%" height="600" flashvars="host=picasaweb.google.com&noautoplay=1&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111919209156526992992%2Falbumid%2F5907305808690699329%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCK3Ji9mgu-2f3wE%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
      div.background

div.row-fluid
  div.span12.tile
    div.notice
      h1 Honeymoon &mdash; Bangkok
      | <embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="100%" height="600" flashvars="host=picasaweb.google.com&noautoplay=1&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111919209156526992992%2Falbumid%2F5907314800449270721%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCNLn37u_0c6oRw%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
      div.background

div.row-fluid
  div.span12.tile
    div.notice
      h1 Honeymoon &mdash; Chiang Mai
      | <embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="100%" height="600" flashvars="host=picasaweb.google.com&noautoplay=1&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111919209156526992992%2Falbumid%2F5907305975068585345%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCLLk_JOkrefltQE%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
      div.background
  
