div.row-fluid
	div.span6.tile
		div.notice
			h1 Bridesmaids
			ul
				li Haley Marwell &mdash; Friend from UChicago
				li Laura Huddleston &mdash; Sister
				li Sarah Smith &mdash; Friend from MICDS
				li Becca Sandberg-Vossmeyer &mdash; Future sister-in-law
				li Abby Sandberg  &mdash;  Future sister-in-law
			div.background
	div.span6.tile
		div.notice
			h1 Groomsmen
			ul 
				li Adam Sandberg &mdash; Brother
				li Jon Mackesson &mdash; Friend from St. Louis
				li Evan Valentini &mdash; Friend from UChicago
				li Andrew Geraghty &mdash; Friend from UChicago
				li Alex Huddleston &mdash; Future brother-in-law
			div.background

