/** Additional styles */

img.bg {
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  z-index: -1;
}

.navbar {
  margin-top: 20px;
}

.notice {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.countdown {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: medium;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 11px;
  color: #7F003F;
}

.notice > h1,
.notice > h2,
.notice > h3,
.notice > h4 {
  color: #7F003F;
}

.navbar-inner {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.navbar >.navbar-inner > a.brand {
  font-size: 24px;
  color: #7F003F;
}

.navbar >.navbar-inner > .nav > li.active > a{
  background:none;
  color: #BF005F;
}

.navbar >.navbar-inner > .nav > li > a {
  font-size: 20px;
  line-height: 25px;
  color: #7F003F;
}

.navbar {
  font-family: 'raconteur_nfregular';
}

h1, h2, h3, h4 {
  font-family: 'raconteur_nfregular';
}

@font-face {
    font-family: 'raconteur_nfregular';
    src: url('../assets/fonts/raconteurnf-webfont.eot');
    src: url('../assets/fonts/raconteurnf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/raconteurnf-webfont.woff') format('woff'),
         url('../assets/fonts/raconteurnf-webfont.ttf') format('truetype'),
         url('../assets/fonts/raconteurnf-webfont.svg#raconteur_nfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tile {
  margin-bottom: 20px;
}
